<!-- wp:template-part {"slug":"header","theme":"tax-consultant","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:pattern {"slug":"tax-consultant/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"tax-consultant/services-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"tax-consultant/about-section"} /-->

<!-- wp:pattern {"slug":"tax-consultant/testimonial"} /-->

<!-- wp:pattern {"slug":"tax-consultant/faq-section"} /-->

<!-- wp:pattern {"slug":"tax-consultant/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"tax-consultant","tagName":"footer","className":"custom-footer-class"} /-->